<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <div style="display: flex;">
      <ion-icon style="float: left; color:#FFF; font-size: 30px; margin-top: 10px; margin-left: 10px;" name="menu"
                (click)="openMenu()"></ion-icon>
      <ion-title>{{"Liste des reclamation"}}</ion-title>
    </div>

  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding">
  <ion-item button detail="true" *ngFor="let element of listTransfer" (click)="deleteElement(element)">
    <ion-icon *ngIf="element.status===false" name="mail-unread-outline"></ion-icon>
    <ion-icon *ngIf="element.status===true"  name="mail-open-outline"></ion-icon>
    <ion-label style="    padding-left: 10px;">
      <h3>Commantaire :{{element.commantaire}}</h3>
      <p> Date : {{element.date_reclamation.substr(0,10)}}</p>
    </ion-label>
  </ion-item>

</ion-content>
