<ion-content>
  <div>
    <ion-icon style="float: left; color:#FFF; font-size: 30px; margin-top: 10px; margin-left: 10px;" name="menu" (click)="openMenu()"></ion-icon>
  </div>

  <div class="header">
    <h2>Khadija MK</h2>

  </div>
  <div class="flex">
    <div class="border-blue">
      <div class="border-white">
        <div class="img-box">
          <img src="assets/avatar.png">
        </div>
      </div>
    </div>
  </div>
 
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="4" style="font-size: 15px; font-weight: bold; color: rgb(27, 133, 255);">Nom :</ion-col>

      <ion-col  style="font-size: 18px; font-weight: bold; color: rgb(75, 75, 75);">
        MK
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="4" style="font-size: 15px; font-weight: bold; color: rgb(27, 133, 255); ">Prenom :</ion-col>

      <ion-col  style="font-size: 18px; font-weight: bold; color: rgb(75, 75, 75);">
        Khadija
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="4" style="font-size: 15px; font-weight: bold; color: rgb(27, 133, 255); ">Date de naissance :</ion-col>

      <ion-col  style="font-size: 18px; font-weight: bold; color: rgb(75, 75, 75);">
        23/03/2000
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="4" style="font-size: 15px; font-weight: bold; color: rgb(27, 133, 255); ">Pays :</ion-col>

      <ion-col  style="font-size: 18px; font-weight: bold; color: rgb(75, 75, 75);">
        Tunis
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="4" style="font-size: 15px; font-weight: bold; color: rgb(27, 133, 255); ">Adresse :</ion-col>

      <ion-col  style="font-size: 18px; font-weight: bold; color: rgb(75, 75, 75);">
        TN, Ariana
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
