.slide{
    text-align: center;
}

b {
font-weight: 500;
}

p {
padding: 0 40px;
font-size: 14px;
line-height: 1.5;
color: var(--ion-color-step-600, #60646b);
}

p b {
color: var(--ion-text-color, #000000);
}

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669F2;

.google-btn {
margin: 0 auto;
width: 90%;
height: 42px;
background-color: $google-blue;
border-radius: 20px;
box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
.google-icon-wrapper {
position: absolute;
margin-top: 1px;
margin-left: 1px;
width: 40px;
height: 40px;
border-radius: 2px;
background-color: $white;
border-top-left-radius: 25px ;
border-bottom-left-radius: 25px ;

}
.google-icon {
position: absolute;
margin-top: 11px;
margin-left: -8px;
width: 18px;
height: 18px;
}
.btn-text {
padding-top: 10px;
text-align: center;
margin: 11px 11px 0 0;
color: #fff;
font-size: 14px;
letter-spacing: 0.2px;
font-family: "Roboto";
}
&:hover {
box-shadow: 0 0 6px $google-blue;
}
&:active {
background: $button-active-blue;
}
}

.input-name{
text-align: center;
border: 0px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
background-color: rgb(245, 244, 244);
border-bottom: 2px solid rgb(63, 161, 253);
height:35px;
font-family: "Helvetica Neue",Helvetica,Arial,sans;
}

.input-name:focus{
outline: none !important;
border-bottom: 2px solid #3b58fc;
}

.grid{
background-color: #eeeeee;
width: 90%;
border-radius: 20px;
}

ion-row{
min-height: 100px;
}
