
ion-col{
  border: 1px solid  rgba(0, 0, 0, 0.12)
}

.border{
  background-color: whitesmoke;
}
.ion-col {
  background-color:#f0f1f1;
  border: 1px solid  rgba(0, 0, 0, 0.12);
  font-weight: bold;
}
.ion_col_title {
  background-color:#3880ff;
  border: 1px solid  rgba(0, 0, 0, 0.12);
  color:white;
}

//test
