<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
<ion-content id="list-dirigeants">

  <div>
    <ion-icon style="float: left; color:#FFF; font-size: 30px; margin-top: 10px; margin-left: 10px;" name="menu"
      (click)="openMenu()"></ion-icon>
  </div>


  <div class="header" style="text-align: center; font-size: 30px;">
    <h2 style="font-size: 20px;">Paramétre</h2>
  </div>

  <br>

  <p class="titleSection"> Gerer les notifications</p>

  <ion-list id="listmenu">
    <ion-item>
       Push Notification
      <ion-toggle style="padding-left: 50%;"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>